<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Answer</title>
</head>
<body>
    <p th:text="${userAccount}">test</p>
    <form action="/answer/edit" method="post" th:object="${formModel}">
        <input type="submit" id="firstAnswer" value="A" name="answerA" />
        <input type="submit" id="secondAnswer" value="B" name="answerB" />
        <input type="submit" id="thirdAnswer" value="C" name="thirdAnswer" />
        <input type="submit" id="forthAnswer" value="D" name="forthAnswer" />

        <input type="submit" name="sendAnswer" value="次へ" />
    </form>

<form method="post"action="/answer/edit">
    <div class="form-group">
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="test.jpg" data-holder-rendered="true">
                <div class="card-body">
                    <button type="submit" name="answerA" class="btn btn-primary">A</button>
                </div>
            </div>
            <div class="col-md-4">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="test.jpg" data-holder-rendered="true">
                <div class="card-body">
                    <button type="submit" name="answerB" class="btn btn-primary">B</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</form>

    <!-- jQuery、Popper.js、Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>