<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top Page</title>
    <meta http-equiv="Content-Type"
          content="text/html"; charset="UTF-8" />
    <style>
        h1 {  font-size: 18pt; font-weight: bold; color: gray; }
        body {
            font-size: 13pt; color: gray;  margin: 5px 25px}
        pre {
            border:solid 3px; color: black; background: darkgray;}
        tr { margin: 5px;}
        th{ padding: 5px; color: white; background: darkgray; }
        td {padding: 5px; color: black; background: #f0f0f0; }
        .err {  color: red; }
    </style>
</head>

<body>
<span>余興をはじめるにあたりの説明をずらずらと</span>
<span>WebPush使うのありかなー</span>
    <h1 th:text="#{content.title}">Hello Page</h1>
    <p th:text="${msg}"></p>
    <table>
        <form method="post" action="/" th:object="${formModel}">
            <ul>
                <li th:each="error: ${#fields.detailedErrors()}"
                    class="err" th:text="${error.message}" />
            </ul>
        <tr><td><label >名前</label></td>
        <td><input type="text" name="name" th:value="*{name}" />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err">

            </div>
        </td></tr>
        <tr><td></td><td><input type="submit" /></td></tr>
        </form>
    </table>
    <hr />
    <table>
        <tr><th>ID</th></tr><th>名前</th>
        <tr th:each="obj : ${datalist}">
            <td th:text="${obj.id}"></td>
            <td th:text="${obj.name}"></td>
        </tr>
    </table>
</body>
</html>